h1{
    font-weight: normal;
    text-align: center;
    background: #ccc;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: normal;
    word-spacing: 20px;
    text-shadow: 5px 5px 5px #000;
}